
.container {
	width: 960px;
}

.col-md-11 {
	height:380px;
}

.col-md-1 {
	margin-top: 35px;
}

label {
	line-height:30px;
}
footer>p {
	background: #4c8f96;
	line-height: 25px;
	text-align: center;
	padding:40px 0;
	color:white;
}

.progress {
	margin-bottom: 0px;
}

.question {
	border: solid 1px silver;
	border-bottom: 0px;
	padding:10px;
	text-align: center;
}